<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS File -->
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  <title>Your Store</title>
</head>

<body>

  <header class="header">

    <h1 class="logo">ZWW</h1>

    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/conversations">Messages</a></li>
        <li><a href="/admin/new">New Listing</a></li>
      </ul>
    </nav>

  </header>

  <div class="flex-wrapper">
    <h2 class="title">Your Store</h2>

    <div class="container">
      <% for (item of products) { %>

        <div class="item-wrapper">
          <h3>
            <%= item.name %>
          </h3>

          <div class="img-container">
            <img class="item--img" src=" <%= item.thumbnail_photo %> ">
          </div>

          <span class="item--price">
            $<%= item.price %>
          </span>

          <p class="item--desc">
            <%= item.description %>
          </p>

          <div class="btn-container">
            <form method="POST" action="/admin/sold/<%= item.id %>">
              <button class="light-btn" type="submit">Sold</button>
            </form>

            <form method="POST" action="/admin/products/<%= item.id %>">
              <button class="red-btn" type="submit">Delete</button>
            </form>
          </div>

        </div>

        <% } %>
    </div>
  </div>

</body>

</html>
