<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- CSS File -->
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <header class="header">

    <h1 class="logo">ZWW</h1>

    <nav>
      <div class="dropdown">
        <button class="dropbtn">Sort Price</button>
        <div class="dropdown-content">
          <ul>
            <li><a href="/desc">Most $</a></li>
            <li><a href="/asc">Least $</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/conversations">Messages</a></li>
      </ul>
    </nav>

  </header>

  <div class="outer-container">
    <h2 class="title">
      Best living room furniture in town!
    </h2>

    <% for (item of products) { %>
      <div class="flex-container">

        <h3 class="item--title">
          <%= item.name %>
        </h3>

        <div class="container">

          <img class="item--img" src=" <%= item.thumbnail_photo %> ">
          <span class="item--price">
            $<%= item.price %>
          </span>
          <p class="item--desc">
            <%= item.description %>
          </p>

          <div class="btn-container">
            <form method="POST" action="/conversations/<%= item.id %>">
              <button id="seller-btn" class="border-btn" type="submit">Message Seller</button>
            </form>

            <form action="/<%= item.id %>" method="POST">
              <button class="light-btn" type="submit">Favorite</button>
            </form>

          </div>

        </div>

      </div>

      <% } %>
  </div>
</body>

</html>
